@import "https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;800&display=swap";

// RESETS START

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Fira Sans", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

// RESETS END

// VARIABLES START

// COLORS START

$white-color: #fff;
$black-color: #0e110f;
$green-color: #2aa47b;
$pink-color: #f5a4da;

// COLORS END

// SCREEN SIZES START

$size-small: 640px;
$size-medium: 768px;
$size-large: 1024px;
$size-extra-large: 1280px;

// SCREEN SIZES END

// VARIABLES END